In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_excel("BA.xlsx")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3417 entries, 0 to 3416
Data columns (total 12 columns):
Department      3417 non-null object
Duration        3417 non-null object
Industry        3417 non-null object
Size            3417 non-null object
Satisfaction    3417 non-null int64
Salary          3417 non-null object
Most            3417 non-null object
Least           3400 non-null object
Churn           3417 non-null object
Gender          3417 non-null object
Year            3417 non-null object
Major           3417 non-null object
dtypes: int64(1), object(11)
memory usage: 320.4+ KB

In [32]:
df.drop("Timestamp", axis = 1,inplace=True)

In [33]:
df['Leave']=df.Churn.replace("Yes", 1).replace("No",2).replace("Maybe",3)

In [34]:
df['Salary']=df.Salary.replace("Yes", 0).replace("No",1)

In [35]:
df.head()

,Department,Duration,Industry,Size,Satisfaction,Salary,Most,Least,Churn,Gender,Year,Major,Leave
0,Marketing,4-6 months,Foundation,16 - 50 employees,4,0,"Salary, Professional Development, Personal Bra...","Location of the office, Perks & Benefits, Job ...",Yes,Male,4th year,Business,1
1,Artificial Intelligence,1 - 2 years,Information Technology (IT),More than 51 employees,4,0,"Salary, Professional Development, Company Cult...","Personal Branding, Company's Brand, Company's ...",Maybe,Male,4th year,Computer Science,3
2,Development,1 - 2 years,Information Technology (IT),More than 51 employees,4,0,"Salary, Professional Development, Interesting ...","Company's Mission, Location of the office, Job...",Maybe,Male,4th year,Business,3
3,Marketing,7-12 months,Information Technology (IT),16 - 50 employees,4,0,"Salary, Professional Development, Company's Br...","Personal Branding, Location of the office, Job...",Maybe,Female,4th year,Business,3
4,Recruitment,4-6 months,Recruitment,6 - 15 employees,5,0,"Team, Team Lead, Schedule",Location of the office,Maybe,Female,4th year,Computer Science,3

In [36]:
df.drop("Churn", axis=1, inplace=True)

In [37]:
def gen_other(n_top, df, field):
	keys = list(df[field].value_counts().nlargest(int(n_top)).to_dict().keys())
	df[field] = df[field].apply(lambda x:x if x in keys else 'other')

In [38]:
ntop = 5 
columns =['Department', 'Duration', 'Industry', 'Size', 'Gender', 'Year', 'Major', 'Most', 'Least']
for column in columns:
    gen_other(ntop, df, column)

In [39]:
data_new1 = df[['Leave', 'Satisfaction','Salary']]

In [40]:
for column in columns:
	dummy = pd.get_dummies(df[column])
	data_new1 = pd.concat([data_new1, dummy], axis = 1)

In [41]:
del df

In [42]:
data_new1 = data_new1.drop(['other','Male','Female'], axis = 1)

In [43]:
data_new1.to_excel('BA_New.xlsx')